h3 {
  font-family: 'DM Sans', sans-serif;
  margin-top: 10px;
  color: rgb(56, 54, 54);

}
#bio-card {
  background: rgb(238, 237, 233, 0.6);
  padding-top: 20px;
  box-shadow: 0 0 50px black;
  border-radius: 5px;
}

#bio {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: rgb(56, 54, 54);
  background: rgb(238, 237, 233, 0.8);;
  box-shadow: 0 0 20px rgb(59, 59, 59);
  border-radius: 7px;
}

#name {
  font-size: 40px;
  font-weight: bold;
}

#web-dev {
    font-weight: bold;
    font-size: 30px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  background: rgb(238, 237, 233);
  border-color: black;
  box-shadow: 0 0 10px rgb(233, 230, 230);
  margin-bottom: 20px;
  border-radius: 7px;
}

#profile-pic {
  max-width: 350px;
  box-shadow: 0 0 20px rgb(49, 49, 49);
  border-radius: 7px;
}

.alert {
  background: rgb(238, 237, 233);
  box-shadow: 0 0 20px rgb(233, 230, 230);
  margin-top: 40px;
  border-radius: 7px;
}

.fa,
.alert:hover {
  opacity: 0.9;
}

.alert-link {
  font-family: Andale Mono, monospace;
  font-size: 17px;
  color: black;
}

#p-tags {
  font-family: 'DM Sans', sans-serif;
  color: rgb(56, 54, 54);
}