.project-details{
    font-family:'DM Sans', sans-serif;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 20px;
}

#project-link{
    font-family:'DM Sans', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

#project-link1{
    font-family:'DM Sans', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

#project-p{
    font-family:'DM Sans', sans-serif;
}

.card{
    box-shadow: 0 0 30px rgb(56, 54, 54);
    background: rgb(238, 237, 233, 0.8);
    border-radius: 11px;
}